
html{
	height: 100%;
}
html, body{
	font-size: 2rem;
	width: 100%;
	height: 100%;
}

main{
	height: 100%;
}

#elevator{
	opacity: 0.0;
}

h1, h2, h3, h4, p, a, span, div{
    font-family: 'Oranienbaum', serif;
    line-height: 1.2;
    margin: 0;
}

p{
	font-size: 0.8rem;
	font-weight: 300;
	font-family: 'Oranienbaum', serif;
	color: #222;
	line-height: 1.4;
}

span.followon, p.followon{
	font-family: 'Nunito Sans', serif;
	font-weight: 700;
}

span.supplement{
	color: #222;
}

p.subhead{
	color: black;
}

a:hover{
	color: #222;
}

a{
	font-size: 0.8rem;
	font-weight: 300;
	color: black;
	text-decoration: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #487BEC;
    margin: 1em 0;
    padding: 0;
    -webkit-margin-before: 1rem;
    -webkit-margin-after: 1rem;
}

section{
  	zoom: 1;
}

.rel{
	position:relative;
}

.oaf{
	overflow: hidden;
}

.target, .overlaytarget{
	width: 100%;
}
.clearfix {
  overflow: auto;
  zoom: 1;
}

#statement{
	display: none;
}

.glyph{
	opacity: 0.0;
	font-family: 'Oranienbaum', serif;
}

span.overlay{
	font-family: 'Oranienbaum', serif;
	color: #9300ff;
	opacity: 0.0;
}

.column{
	padding: 8%;
	position: relative;
}

.column.hidden{
	display: none;
}

.column.contrasting{
	background-color: #009688;
}

.column.details{
	padding-bottom: 4%;
    padding-top: 4%;
}

.halfbox{
	width: 40%;
	float: right;
}

.textright{
	text-align: right;
}

.halfbox:nth-child(1){
	float: left;
}

.column:last-child{
	padding: 0px;
}

.column:first-child{
	padding: 0px;
}

.column:first-child .centerbox{
	position: relative;
	margin-left: 8%;
	margin-right: 8%;
}

.column:nth-child(2){
	background-color: #009688;
}

.column.footer{
	background-color: #e8e8e8;
}

.pop{
    position: absolute;
    top: 0px;
    width: 50%;
    left: 50%;
    height: 100%;
    background-color:#4d59ff;
	background: -moz-linear-gradient(top, #2e3eea 86%, #e5e5e5 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #2e3eea 86%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #2e3eea 86%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.column polygon{
    
}

svg.cornerfold{
    position: absolute;
    top: 0;
    left: 0;
	fill: white;
}

svg.diamond{
	position: absolute;

    left: 50%;
	margin-left: -16px;
}

.diamond.btm{
	top: 0;
}

.diamond.top{
    bottom: 0;
}

svg.diamond polygon{
	fill: red;
}

svg.cornerfold.hlt polygon{
	fill: #009688;
}

.column .txtcolumn{
	width: 45%;
	float: left;
	margin: 0px;
	padding: 0px;
}

.column .txtcolumn.full{
	float: left;
	margin: 0px;
    width: auto;
}

.column .spacer{
	height: 1px;
	width: 10%;
	float: left;
	margin: 0px;
	padding: 0px;
}

.overlaytarget{
    position: absolute;
    top: 0px;
    left:0px;
}

@media (max-width: 1400px){
	html, body{
	font-size: 1.6rem;
	}
}

@media (max-width: 1200px){
	html{
		height: 100%;
	}
	html, body{
	font-size: 1.8rem;
	width: 100%;
	}
	.halfbox{
		width: 100%;
		float: left;
	}
	a:hover{
		color: #888;
	}
	.pop{
		background: -webkit-linear-gradient(top, #d0d0d0 86%,#f5f5f5 100%);
	}

	a{
		font-size: 0.8rem;
		font-weight: 300;
		color: #4d59ff;
		text-decoration: none;
	}
	.column .spacer{
		height: 24px;
	}
}


@media (max-width: 800px){
	html{
		height: 100%;
	}
	html, body{
	font-size: 1.4rem;
	width: 100%;
	}
	.column .txtcolumn{ width: 100%; }
	.textright{text-align: left;}
	a,p{
		font-size: 0.6rem;
	}
}
